# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive\2020.2\MAC5788 - Planejamento em Inteligência Artificial\EP's\EP1 - Buscas\EP1-Buscas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
